{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


body {
background: #f4f4f4;
color: #222;
line-height: 1.6;
}


body.dark {
background: #121212;
color: #eaeaea;
}


section {
max-width: 1000px;
margin: auto;
padding: 60px 20px;
}


h1, h2, h3 {
margin-bottom: 15px;
}


/* NAVBAR */
.navbar {
position: sticky;
top: 0;
background: #ffffff;
border-bottom: 1px solid #ddd;
